@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100
}

.header-web {
  height: 100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.option-introduce{
  padding-left: 20px;
  font-size: 18px;
}
.category-introduce {
  font-size: 17px;
  color: rgb(173 96 11);
}

.list-option-introduce {
  font-size: 20px;
  font-weight: 600;
}

.introduce1 {
  font-size: 30px;
  font-weight: bold;
}

.introduce2{
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.introdce_descript {
  font-size: 18px;
  font-weight: 400;
}

.name_company {
  font-size: 30px;
  font-weight: bold;
  color: #007aff;
}

@layer utilities {
  .banner-bg-all {
    background-color: #f5f5f5;
  }

  .max-w-custom-width {
    max-width: 1100px;
  }

  .with-banner-login {
    width: 600px;
    background-color: white;
  }

  .border-button-designer {
    border: 2px solid #5b3000;
    color: #5b3000;
    height: 80px;
    width: 400px;
    font-size: 28px;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .border-button-customer {
    border: 2px solid #5b3000;
    color: white;
    height: 80px;
    width: 400px;
    font-size: 28px;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #e89f71, #000000);
    cursor: pointer;
  }

  .bg_active_item {
    background-image: linear-gradient(to right, #e89f71, #5b3000) !important;
  }

  .bg_edit_account {
    background-image: linear-gradient(to right, #e89f71, #5b3000) !important;
    width: 55px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
  }

  .bg_confirm_schedule {
    background-image: linear-gradient(to right, #e89f71, #5b3000) !important;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
  }

  .bg_book_schedule {
    background-image: linear-gradient(to right, #e89f71, #5b3000) !important;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
  }

  .bg_delete_account {
    background-image: linear-gradient(to right, #cc6d32, #ec0c48) !important;
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }

  .banner-login-color {
    color: #212121;
    font-size: 18px;
  }

  .banner-login-here {
    color: #5b3000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding-left: 20px;
  }

  .with-banner-login {
    width: 600px;
    background-color: white;
  }

  .max-w-custom-width-register-designer {
    max-width: 1300px;
    display: flex;
  }

  .with-banner-login-register-designer {
    width: 800px;
    background-color: white;
  }

  .link-color-register {
    color: #74450d !important;
  }

  .custombutton-register-designer {
    background-image: linear-gradient(to right, #e89f71, #5b3000);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
  }

  .button-add {
    background-image: linear-gradient(to right, #3498db, #000000);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
  }

  .header-custom {
    height: 100px;
    justify-content: space-around;
    font-size: 16px;
    align-items: center;
    color: white;
    width: 100%;
  }

  .icon_home_header {
    width: 35px;
    height: 31px;
    color: white;
  }

  .header_all {
    background-image: linear-gradient(to left, #e89f71, #000000);
    height: 100px;
  }

  .bg_header_custom {
    width: 70%;
  }

  .header_noti_user {
    width: 30%;
    padding-left: 10%;
    justify-content: space-around;
    font-size: 16px;
    align-items: center;
    color: white;
  }

  .cunstom-footer {
    height: 180px;
    width: 100%;
    padding-left: 150px;
    background-image: linear-gradient(to top, #e89f71, #684f4f);
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    margin-top: -7px;
  }

  .block_footer_one {
    width: 270px;
    color: white;
  }

  .block_footer_one>p {
    font-size: 16px;
  }

  .block_footer_one>.tittle_footer {
    font-size: 24px;
  }

  .bannerHome >img {
    height:  400px !important;
  }

  @media screen and (max-width: 1080px) {
    .cunstom-footer {
      display: flex;
      padding-left: 20px !important;
      padding-right: 20px !important;
      justify-content: center;
      gap: 20px;
      height: 100%;
    }

    .block_footer_one:first-child svg path {
      fill: blue;
    }

    .block_footer_one:nth-child(2) {
      padding: 0 20px 0 20px;
    }

    .block_footer_one {
      width: 50%;
      /* Width of each block */
      font-size: 15px;
      /* Font size */
    }
  }


  .icon_notipush-yellow {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 12px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    background-color: yellow;
  }

  .icon_notipush-green {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 12px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    background-color: #00ff0a;
  }

  .read_notipush {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ff0a;
    margin: 0px 10px;
  }

  .delete_all_noti {
    background-image: linear-gradient(to right, #e89f71, #a8653b);
    width: 100%;
    position: sticky;
    padding: 8px;
  }

  .item-title-notipush {
    font-size: 13px;
    font-weight: bold;
  }

  .item-information-notipush {
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }

  .errors-file {
    color: red;
    font-size: 15px;
  }

  .change-password-custom {
    background-color: white;
  }

  .with-banner-change-pass {
    width: 785px;
    background-color: white;
    height: 679px;
  }

  .bg-account {
    background: linear-gradient(90deg, black 0%, #A8653B 100%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 0;
  }

  .table-account {

    width: 100%;
  }

  .custom-button-step {
    float: right;
    padding-right: 150px;
  }

  .buttonNext {
    background-image: linear-gradient(to top, #e89f71, #a8653b);
  }

  .customByCode {
    width: 500px;
    display: flex;
  }

  .custom_step div:first-child {
    line-height: 0px !important;
  }

  .px-56 {
    background-color: #F5F5F5;
    width: 70%;
    height: auto;
    margin: 100px auto;
    padding: 70px;
  }

  .custom_step .ant-steps-item-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom_step .ant-steps-icon {
    line-height: 40px;
  }

  .custom_step .ant-steps-item-active .ant-steps-item-icon {
    font-size: 32px;
    width: 60px;
    height: 60px;
  }

  .item_categorys {
    background: linear-gradient(to left, #e89f71, #a8653b);
    word-wrap: break-word;
    color: white;
    width: 80%;
    height: auto;
    background: white;
    color: black;
    font-size: 26px;
    text-align: start;
    padding: 5% 10%;
    border-radius: 30px;
    border: 1px #a8653b solid;
  }

  .item_categorysNo {
    margin-bottom: 10px;
    width: 80%;
    word-wrap: break-word;
    color: black;
    height: auto;
    border-radius: 30px;
    font-size: 26px;
    padding: 5% 10%;
    text-align: start;
  }

  .block_left_category {
    width: 40%;
  }

  .MuiImageListItemBar-root.MuiImageListItemBar-positionBottom.css-ztrqiq-MuiImageListItemBar-root {
    background: none !important;
  }

  .button-upload-images {
    background-image: linear-gradient(to left, #e89f71, #a8653b);
    width: 150px;
    padding: 10px;
    float: right;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
  }

  button.button-upload-images.add-images {
    margin-bottom: 23px !important;
  }

  .button-add-link {
    background-image: linear-gradient(to left, #e89f71, #a8653b);
    padding: 10px;
    margin-right: 20px;
  }
}

.MuiStack-root {
  /* overflow: hidden; */
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  height: 56px !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 16.5px 14px !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 40px !important;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  top: 8px !important;
}

.css-y8ay40-MuiTableCell-root,
.css-dwuj3p-MuiTableCell-root {
  background-color: transparent !important;
  color: #fff !important;
}

.css-10hburv-MuiTypography-root {
  font-size: 0.8rem;
}

.image-anh {
  width: 120px;
  height: 120px;
}

.slider-image-admin {
  margin-top: 20px;
}

.button-save-slider {
  border: 10px;
  background: #6dbf7b;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  padding-top: 20p;
}

.bannerHome {
  margin-top: 50px;
}

.new-product {
  width: 300px;
  margin: auto;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.new-product1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.link_me {
  font-size: 30px;
  font-weight: bold;
  padding: 38px;
}

@media (max-width: 720px) {
  .link_me {
    font-size: 15px !important;
    padding: 0 10px 0 10px !important;
  }
  .tittle_footer {
    font-size: 14px !important;
  }
  .link_me {
    font-size: 9px !important;
    padding: 0 10px 0 10px !important;
  }

  .button_login_app{
    font-size: 15px !important;
  }
}


/* 
Services */


/* service1 */
.service1 {
  background-color: #ffffff;
}

.service__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.service__container .header {
  text-align: center;
}

.header .title {
  font-size: 48px;
  font-weight: "Gabriela";
  margin-top: 60px;
}

.header .description {
  font-size: 30px;
  color: #000000;
  margin-top: 30px;
}

.header hr {
  width: 70%;
  border-top: solid 2px #000000;
  margin: 1% auto;
}

.body .title {
  text-align: center;
  margin: 2% auto;
  width: 80%;
  font-size: 40px;
  font-weight: 700;
}

.body .content {
  padding: 0 5% 5% 5%;
}

.content .left-content {
  width: 40%;
}

.content .image {
  width: 50%;
}

.left-content hr {
  border-top: solid 2px #DB1A1A;
  width: 12rem;
}

.content-01 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5%;
}

.left-content .content-name {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}

.left-content .content-desc {
  font-size: 28px;
  margin-top: 30px;
  text-align: justify;
}

.content-02 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: stretch;
  margin-top: 5%;
}

.content-02 .left-content .content-name {
  text-align: right;
}

.content-02 .left-content hr {
  margin-left: auto;
}

.content-03 {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 28px;
  margin-top: 5%;
}


.other-service .title {
  color: #000000;
  text-align: start;
  margin-left: 5%;
  width: 80%;
  font-size: 30px;
}

.other-service hr {
  border-top: solid 2px #000000;
  width: 12rem;
  margin-left: 5%;
}

.list-services {
  margin: 3%;
  display: flex;
  justify-content: space-evenly
}

.button {
  width: fit-content;
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 2%;
  background-color: #B91616;
  padding: 8px 22px;
  border-radius: 10px;
}

.button:hover {
  background-color: #be3636;
}

.service-child {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.service-child .text {
  font-size: 30px;
}

.service-child .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* service2 */
.service2 {
  background-color: #FFFFFF;
}

.service2 .service2__content-head {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.service2 .first-content {
  display: flex;
  justify-content: space-evenly;
  margin: 3%;
}

.first-content .text {
  width: 60%;
  font-size: 30px;
  text-align: justify;
}

.content .content-title {
  color: #000000;
  font-size: 54px;
  font-weight: bold;
  margin-top: 3%;
}

.content hr {
  border-top: solid 2px #000000;
  width: 40%;
}

.background-text-content {
  width: 40%;
  height: 500px;
  position: relative;
  margin: auto 0;
}

.background-text-content .background-white {
  width: 90%;
  height: 100%;
  left: 0px;
  top: -5%;
  position: absolute;
  background: white;
  border-top-right-radius: 20px;
}

.background-text-content .background-middle {
  width: 105%;
  height: 75%;
  left: 0px;
  top: 10%;
  position: absolute;
  background: rgb(168, 101, 59);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.background-text-content .background-brown {
  width: 100%;
  height: 500px;
  left: 0px;
  top: 0%;
  position: absolute;
  background: rgb(82, 43, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.background-text-content .text {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  color: #FFF;
  text-align: justify;
}

.content-detail {
  display: flex;
  margin: 4% 0 8% 0;
  justify-content: center;
}

/* service3 */
.service-intro .content {
  display: flex;
  margin-top: 3%;
  font-size: 36px;
  text-align: justify;
  padding: 0 10%;
}

.service-video .video {
  width: 80%;
  margin: auto;
}

.service-benefit .text {
  font-size: 36px;
  width: 80%;
  margin: auto;
  text-align: justify;
}

.service-benefit .images {
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
  width: 80%;
}

.images .img {
  width: 48%;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: white;
  /* Đảm bảo modal hiển thị trên lớp overlay */
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  /* Căn giữa nội dung trong modal */
}

.modal-content {
  width: 400px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.inputmb-search {
  width: 400px;
  margin: auto;
}


@media (max-width: 420px) {
  .link_me {
    font-size: 10px !important;
    padding: 0 5px 0 5px !important;
  } 

  .inputmb-search {
    width: 300px !important;
  }

  .button_login_app a{
    font-size: 12px !important;
  }
  
  .button_login_app {
    margin-right: 15px !important;
  }
}


@media (max-width: 1300px) {


  .info .text {
    margin-left: 20px !important;
  }

  .info .button {
    margin-left: 20px !important;
  }

  .link_me {
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
  }
}

@media (max-width: 1080px) {
  .service-child {
    width: 100%;
    margin-bottom: 50px;
  }

  .block_footer_one>.tittle_footer {
    font-size: 18px;
}

  .button_login_app a{
    font-size: 15px !important;
  }



  .logog-web {
    width: 30px;
    height: 30px;
  }

  .service-child .info {
    margin-left: 10px;
  }

  .service-child .text {
    font-size: 25px;
  }


  .list-services {
    display: block;
  }

  .content-01 {
    display: block;
  }

  .content-01 .left-content {
    width: 100%;
  }

  .content-01 .image {
    width: 100%;
    margin-top: 20px;
  }

  .content-02 .image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .image .withImageMb {
    height: 250px;
    width: 100vh;
  }

  .content-02 {
    display: block;
  }

  .content-02 .left-content {
    width: 100%;
  }

  .content-02 .left-content {
    order: 2;
    /* Đặt UI A sau UI B */
  }

  .content-02 .image {
    order: 1;
    /* Đặt UI B trước UI A */
  }

  .content-02 .image {
    width: 100%;
    height: 200px;
  }

  .content-03 {
    margin-top: 50px;
  }

  .left-content .image {
    padding: 10px 0px 10px 0px;
  }

  .service1__content-head {
    padding: 0px 10px 0px 10px;
  }

  .service__container .description {
    padding: 0px 10px 0px 10px;
  }

  .button-service {
    margin-top: 30px;
  }

  .content-03 {
    width: 100%;
  }

  .service2 .first-content {
    display: block;
  }

  .service2 .first-content .text {
    width: 100%;
    padding: 0px 10px 0 10px;
  }

  .service2 .first-content .image {
    width: 100%;
    padding: 0px 10px 0 10px;
  }

  .image_first_servies1 {
    width: 100%;
  }

  .service2 .content-detail {
    display: block;
  }

  .service2 .content-detail .image {
    width: 100%;
    height: 250px;
  }

  .image-servies-1 {
    height: 250px !important;
  }

  .background-text-content {
    width: 100%;
  }

  .background-text-content .text {
    font-size: 25px !important;
  }

  .service2 .background-text-content {
    margin-top: 31px;
  }

  .service2 .content-title {
    font-size: 25px;
  }
  

  .modal-container{
    width: 300px;
  }

}